* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
}

.head-div {
    text-align: center;
    margin: 1px 5px;
    background-color: rgb(128, 167, 241);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px groove rgb(44, 42, 42);
}

.first-div {
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left, .right {
    flex: 1;
    width: 45%;
    padding: 20px;
}

.vl {
    display: none;
}

h2 {
    background-color: rgb(128, 167, 241);
    padding: 3px;
    margin: 10px 0;
    border-radius: 0 50px 50px 0;
    display: inline-block;
}

@media (max-width: 768px) {
    .left, .right {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .vl {
        display: none;
    }

    h2 {
        width: auto;
    }
}

@media (max-width: 480px) {
    .first-div {
        font-size: medium;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    h2 {
        font-size: large;
    }
}

 

